{% extends 'base.html.twig' %}

{% block title %}
	Votre panier
{% endblock %}

{% block body %}
	<section class="py-5">
		<div class="container px-4 px-lg-5">
			<h2 class="text-center mb-4">Votre panier</h2>

			{% if cart is defined and cart|length > 0 %}
				<div class="row">
					<div class="col-md-12 table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Vos produits
									</th>
									<th scope="col">Quantité</th>
									<th scope="col">Prix unitaire</th>
									<th scope="col">Total</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% set total = 0 %}
								{% for cartItem in cart %}
									<tr>
										<td>
											{% if cartItem.product is defined %}
												<div class="d-flex align-items-center">
													<a href="{{ path('front_product_show', {'slug': cartItem.product.slug}) }}">
														<img src="{{ cartItem.product.picture }}" class="img-fluid" alt="{{ cartItem.product.name }}" style="max-height: 80px; max-width: 80px; margin-right: 10px;">
													</a>
													<div>
														<strong>{{ cartItem.product.name }}</strong>
														<p>{{ cartItem.product.description }}</p>
													</div>
												</div>
											{% endif %}
										</td>
										<td>
											<form action="{{ path('front_cart_adjust_quantity', {'id': cartItem.product.id}) }}" method="POST" class="d-flex">
												<input type="number" name="new_quantity" value="{{ cartItem.quantity }}" class="form-control" min="0" style="width: 60px;">
<button type="submit" class="btn btn-outline-danger btn-sm">confirmer</button>

											</form>
										</td>
										<td>{{ cartItem.product.getPrice()/100 }}
											€</td>
										<td style="white-space: nowrap;">{{ cartItem.quantity * (cartItem.product.getPrice()/100) }}
											€</td>
										<td>
											<form action="{{ path('front_cart_delete', {'id': cartItem.product.id}) }}" method="POST" class="d-inline">
												<button type="submit" class="btn btn-outline-danger btn-sm">Supprimer</button>
											</form>
										</td>
									</tr>
									{% set total = total + (cartItem.quantity * (cartItem.product.getPrice()/100)) %}
								{% endfor %}

								<!-- Dernière ligne du tableau pour afficher le total global -->
								<tr>
									<td colspan="3" class="text-end">
										<strong>Total global :</strong>
									</td>
									<td colspan="2" style="white-space: nowrap;">{{ total }}
										€</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-12">
						<div
							class="d-flex justify-content-end">
							<!-- Bouton pour vider le panier -->
							<form action="{{ path('front_cart_empty') }}" method="GET" class="d-inline">
								<button type="submit" class="btn btn-outline-danger btn-sm">Vider le panier</button>
							</form>

							<!-- Bouton pour valider la commande -->
							<form action="#" method="POST" class="d-inline">
<button type="submit" class="btn btn-outline-danger-order btn-sm">Valider la commande</button>

							</form>

							
						</div>
					</div>
				</div>
				<!-- Quand le panier est vide   -->
			{% else %}
				<p class="text-center">Votre panier est vide.</p>
			{% endif %}
		</div>
	</section>
{% endblock %}

