{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="h2-color">Liste des produits</h2>
		<a class="btn btn-success" href="{{ path('app_back_user_new') }}">Ajouter un nouveau produit</a>
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Email</th>
					<th>Roles</th>
					<th>Firstname</th>
					<th>Lastname</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
						<td>{{ user.firstname }}</td>
						<td>{{ user.lastname }}</td>
						<td>
							<a class="btn btn-sm btn-info mb-2" href="{{ path('app_back_user_show', {'id': user.id}) }}">Détails</a>
							<a class="btn btn-sm btn-warning mb-2" href="{{ path('app_back_user_edit', {'id': user.id}) }}">Modifier</a>
							<a class="btn btn-sm btn-danger mb-2" href="{{ path('app_back_brand_delete', {'id': user.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% else %}

					<tr>
						<td colspan="7">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
