{% extends 'base.html.twig' %}


{% block title %}O'fajitas! 

{% endblock %}

{% block body %}
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5">
			<h2 class="h2-color">Tous les produits</h2>


			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				{% for product in products %}
					<div class="col mb-5">
						<div
							class="card h-100">
							<!-- Product image-->
							<img
							src="{{ product.picture }}" alt="Card image" class="card-img">

							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{ product.name }}</h5>
									<!-- Product price-->
									{# Affiche le prix / 100 #}
									{% set price = product.getPrice()/100 %}
									{# Affiche le prix réel #}
									{{ price }} €
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto" href="{{ path('front_product_show', {slug: product.slug}) }}">View options</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
					<div class="navigation">
			{{ knp_pagination_render(products, 'pagination/bootstrap_v5_pagination.html.twig') }}
		</div>
		</div>
	</section>
{% endblock %}
