{% extends 'base.html.twig' %}

{% block title %}
    Votre panier
{% endblock %}

{% block body %}
    {% if app.flashes('success') is not empty %}
        <div class="alert alert-success" role="alert">
            {{ app.flashes('success')[0] }}
        </div>
    {% elseif app.flashes('error') is not empty %}
        <div class="alert alert-danger" role="alert">
            {{ app.flashes('error')[0] }}
        </div>
    {% endif %}

    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mb-4">Confirmation de votre commande</h2>

            {% if cart is defined and cart|length > 0 %}
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Vos produits</th>
                                    <th scope="col">Quantité</th>
                                    <th scope="col" class="d-none d-lg-table-cell">Prix unitaire</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set total = 0 %}
                                {% for cartItem in cart %}
                                    <tr>
                                        <td>
                                            {% if cartItem.product is defined %}
                                                <div class="d-flex align-items-center">
                                                    <a href="{{ path('front_product_show', {'slug': cartItem.product.slug}) }}">
                                                        <img src="{{ cartItem.product.picture }}" class="img-fluid" alt="{{ cartItem.product.name }}" style="max-height: 80px; max-width: 80px; margin-right: 10px;">
                                                    </a>
                                                    <div>
                                                        <strong>{{ cartItem.product.name }}</strong>
                                                        <p class="d-lg-none">{{ cartItem.product.getPrice()/100 }} €</p>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </td>
                                        <td>{{ cartItem.quantity }}</td>
                                        <td class="d-none d-lg-table-cell">{{ cartItem.product.getPrice()/100 }} €</td>
                                        <td style="white-space: nowrap;">{{ cartItem.quantity * (cartItem.product.getPrice()/100) }} €</td>
                                    </tr>
                                    {% set total = total + (cartItem.quantity * (cartItem.product.getPrice()/100)) %}
                                {% endfor %}

                                <tr>
                                    <td colspan="3" class="text-end">
                                        <strong>Total de votre commande :</strong>
                                    </td>
                                    <td style="white-space: nowrap;">{{ total }} €</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <!-- Bouton pour valider la commande -->
                    <form method="GET" action="{{ path('front_order_payment') }}">
                        <button type="submit" class="btn btn-outline-danger btn-sm">Confirmer la commande</button>
                    </form>
                </div>
            {% else %}
                <p class="text-center">Votre panier est vide.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
