{% extends 'base.html.twig' %}


{% block title %}O'fajitas!

{% endblock %}

{% block body %}
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5">

			{% if (app.current_route == 'front_product_index') %}
				<h2 class="h2-color">Tous les produits</h2>


			{% elseif (app.current_route == 'front_main_search') %}
				<h2 class="h2-color">Résultats de la recherche</h2>

			{% elseif (app.current_route == 'front_category_show') %}
				<h2 class="h2-color">{{category.name }}</h2>

			{% else %}

				<h2 class="h2-color">{{brand.name }}</h2>


			{% endif %}


			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				{% for product in products %}
					<div class="col mb-5">
						<div
							class="card h-100">
							<!-- Product image-->
							<div class="image-container position-relative">
								<img class="card-img-top" src="{{ product.picture }}" alt="...">
								{{ include('front/favoris/_bookmark.html.twig', {key: product.id}) }}
							</div>

							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{ product.name }}</h5>
									<!-- Product price-->
									{# Affiche le prix / 100 #}
									{% set price = product.getPrice()/100 %}
									{# Affiche le prix réel #}
									{{ price }}
									€
									{{ include('_starsRating.html.twig', {'stars' : product.rating})}}

								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">


									<a class="btn btn-outline-dark mt-auto mb-2" href="{{ path('front_product_show', {slug: product.slug}) }}">Voir produit</a>

									<a class="btn btn-outline-dark mt-auto mb-2" href="{{ path('front_cart_add', {id: product.id}) }}">Ajouter au Panier
									</a>
									

								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="navigation">
				{% if (app.current_route == 'front_product_index') %}
					<div class="pagination justify-content-center">
						{{ knp_pagination_render(products, 'pagination/bootstrap_v5_pagination.html.twig') }}
					</div>
				{% endif %}
			</div>


		</section>
	{% endblock %}
