{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="{{ asset('script.js') }}"></script>
{% endblock %}

{% block title %}O'fajitas!
{% endblock %}

{% block body %}
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5">
			<div class="row mx-0 mb-5">
				<div class="col-lg-6 col-sm-12">
					<div class="product-image">
						<div class="image-container position-relative">
							<a href="detail.html" class="product-hover-overlay-link">
								<img src="{{ product.picture }}" alt="product" class="img-fluid">
							</a>
							{{ include('front/favoris/_bookmark.html.twig', {key: product.id}) }}
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-12">
					<div class="mb-3">
						<h3 class="h3 text-uppercase mb-1">{{ product.name }}</h3>
						<div class="text-muted">by
							<em>{{ product.brand.name }}</em>
						</div>
					</div>

					<div class="my-2">
						<div class="text-muted">
							<span class="h4">
								{% set price = product.getPrice()/100 %}
								{# Affiche le prix réel #}
								{{ price }}
								€

							</span>TTC</div>
					</div>
					<div>
						{{ include('_starsRating.html.twig', {'stars': product.rating})}}
					</div>
					<div class="mt-5">
						<p>
							{{ product.description }}
						</p>
					</div>
					<div class="product-action-buttons">
						<form action="{{ path('front_favorite_add', {'id': product.id}) }}" method="POST">
							<button class="btn btn-dark btn-buy mb-2">
								<span class="btn-buy-label ml-2">Ajouter au favoris</span>
							</button>
						</form>
						<form action="{{ path('front_cart_add', {'id': product.id}) }}" method="POST">
							<button class="btn btn-dark btn-buy mb-2">
								<span class="btn-buy-label ml-2">Ajouter au panier</span>
							</button>
						</form>
						<form action="{{ path('front_review_new', {slug: product.slug}) }}" method="POST">
							<button class="btn btn-dark btn-buy mb-2">
								<span class="btn-buy-label ml-2">Ajouter une critique</span>
							</button>
						</form>
						
					</div>
					<div>
						{% for review in product.reviews %}
								<h2> Les critiques de cet article</h2>
							<div class="card border-warning mb-3 p-2">
								<div class="card-body">
								{{ include('_starsRating.html.twig', {'stars': review.rating}) }}
									<p class="card-text mb-4">
										{{ review.content }}
									</p>

									<blockquote class="blockquote mt-5">
										<footer class="blockquote-footer">
											par
											{{ review.username }}
										</footer>
									</blockquote>
								</div>
							</div>
						{% else %}
							<p>Pas de critiques sur cet article pour l'instant, ajoutez en une !</p>
						{% endfor %}

					</div>
				</div>
			</div>

		</section>
	{% endblock %}
