{% extends 'base.html.twig' %}
{% block javascripts %}
<script src="{{ asset('script.js') }}"></script>

{% endblock %}


{% block title %}O'fajitas!
{% block title %}O'fajitas!

{% endblock %}

{% block body %}
	<!-- Section-->
	<!-- Section-->

	<section class="py-5">
		<div class="container px-4 px-lg-5">
			<div class="row mx-0 mb-5">
	<section class="py-5">
		<div class="container px-4 px-lg-5">
			<div class="row mx-0 mb-5">

				<div class="col-lg-6 col-sm-12">
					<div class="product-image">
						<a href="detail.html" class="product-hover-overlay-link">
							<img src="{{ product.picture }}" alt="product" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-12">
					<div class="mb-3">
						<h3 class="h3 text-uppercase mb-1">{{ product.name }}</h3>
				<div class="col-lg-6 col-sm-12">
					<div class="product-image">
						<a href="detail.html" class="product-hover-overlay-link">
							<img src="{{ product.picture }}" alt="product" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-sm-12">
					<div class="mb-3">
						<h3 class="h3 text-uppercase mb-1">{{ product.name }}</h3>

						<div class="text-muted">by
							<em>{{ product.brand.name }}</em>
						</div>
						<div>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
					</div>
					<div class="my-2">
						<div class="text-muted">
							<span class="h4">
								{% set price = product.getPrice()/100 %}
								{# Affiche le prix réel #}
								{{ price }}
								€
							</span>TTC</div>
					</div>
					<div class="product-action-buttons">
						<a class="btn btn-dark btn-buy addToCartButton" href="#" data-route="{{ path('front_cart_add', {'id': product.id}) }}" data-product-id="{{ product.id }}">
							Ajouter au panier
						</a>
						<div id="flashMessagesContainer-{{ product.id }}"></div>
						<i class="fa fa-shopping-cart"></i>
					</button>
				</form>
			</div>

			<div class="mt-5">
				<p>
					{{ product.description }}
				</p>
			</div>
		</div>

	</div>
</div></section>{% endblock %}
