{% extends 'base.html.twig' %}

{% block title %}O'fajitas!
{% endblock %}

{% block body %}

{% if app.flashes('success') is not empty %}
    <div class="alert alert-success" role="alert">
        {{ app.flashes('success')[0] }}
    </div>
{% elseif app.flashes('error') is not empty %}
    <div class="alert alert-danger" role="alert">
        {{ app.flashes('error')[0] }}
    </div>
{% endif %}


	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5">

			<div class="row mx-0 mb-5">
				{% for category in categoriesByOrder %}

					<div class="col-lg-4">
						<div class="shadow card border-0 rounded-4 text-center">
							<img src="{{ category.picture }}" alt="Card image" class="card-img">
							<div class="card-img-overlay d-flex align-items-center">
								<div class="w-100">
									<a href="{{ path('front_category_show', {slug: category.slug}) }}" class="text-white text-decoration-none">
										<h3 class=" display-4 mb-4 ">{{ category.name}}</h3>
										<i class="fa-arrow-right fa ml-2"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<h2 class="h2-color">Les nouveautés</h2>
			<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
				{% for product in newProducts %}
					<div class="col mb-5">
						<div class="card h-100">
							<!-- Product image-->
							<div class="image-container position-relative">
								<a href="{{ path('front_product_show', {slug: product.slug}) }}">
								<img class="shadow card-img-top" src="{{ product.picture }}" alt="...">
								</a>
								{{ include('front/favoris/_bookmark.html.twig', {key: product.id}) }}
							</div>
							

							<!-- Product details-->
							<div class="card-body p-4">
								<div
									class="text-center">
									<!-- Product name-->
									<h5 class="fw-bolder">{{ product.name }}</h5>
									<!-- Product price-->
									{# Affiche le prix / 100 #}
									{% set price = product.getPrice()/100 %}
									{# Affiche le prix réel #}
									{{ price }}
									€
								</div>
								<div class="mt-3 text-center">
									{{ include('_starsRating.html.twig', {'stars' : product.rating})}}
								</div>
							</div>
							<!-- Product actions-->
							<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto mb-2 addToCartButton" href="#" data-route="{{ path('front_cart_add', {'id': product.id}) }}" data-product-id="{{ product.id }}">
										Ajouter au panier
									</a>
									<a class="btn btn-outline-dark mt-auto" href="{{ path('front_product_show', {slug: product.slug}) }}">Voir produit</a>
									<div id="flashMessagesContainer-{{ product.id }}"></div>
								</div>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
