{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{# {{ form_widget(form) }} #}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_row(form.firstname) }}
{{ form_row(form.lastname) }}
<div class="row justify-content-center">
	<div class="col-4 text-center">
		<button class="btn btn-warning mb-2 ">{{ button_label|default('Enregistrer') }}</button>
	</div>
</div>
{{ form_end(form) }}
