{% extends 'base.html.twig' %}

{% block title %}Vos informations
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="h2-color">Vos informations</h2>

		<table class="table">
			<thead>
				<tr>
					<th>Votre Email</th>
					<th>Votre Prénom</th>
					<th>Votre Nom</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ user.email }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>
						<a class="btn btn-sm btn-warning mb-2" href="{{ path('front_user_edit', {'email': user.email}) }}">Modifier</a>
						{# <a class="btn btn-sm btn-danger mb-2" href="{{ path('front_user_delete', {'email': user.email}) }}" >Supprimer mon compte</a> #}
						{{ include('front/user/_delete_form.html.twig') }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}
